:root {
  --vs-highlight: 25, 91, 255;
  --vs-text: 17, 17, 17;
  --vs-lowlight: 119, 119, 119;
  --vs-lowerlight: 142, 142, 142;
  --vs-higherbg: 219, 219, 237;
  --vs-bg: 237, 241, 241;
  --vs-lowerbg: 204, 216, 219;
  --vs-lowestbg: 255, 255, 255;
  --vs-red: 242, 19, 93;
  --vs-blue: 91, 59, 196;
  --vs-green: 23, 201, 100;
}

[vs-theme=dark] {
  --vs-highlight: 0, 247, 255;
  --vs-text: 238, 238, 238;
  --vs-lowlight: 178, 178, 178;
  --vs-lowerlight: 142, 142, 142;
  --vs-higherbg: 13, 38, 59;
  --vs-bg: 9, 26, 40;
  --vs-lowerbg: 20, 20, 23;
  --vs-lowestbg: 0, 0, 0;
  --vs-red: 242, 19, 93;
  --vs-blue: 91, 59, 196;
  --vs-green: 23, 201, 100;
}

body {
  background-color: rgba(var(--vs-bg), 1);
  color: rgba(var(--vs-text), 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--vs-text), 1);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgba(var(--vs-bg), 1) inset !important;
  -webkit-text-fill-color: rgba(var(--vs-text), 1) !important;
}

.nuxt-wrapper {
  padding-top: 10vmin;
}

a {
  all: unset;
  cursor: pointer;
}

p#warnLighted {
  color: rgb(255, 130, 0);
}

.vs-avatar-content {
  z-index: 0 !important;
}

.vs-button {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.anim-icon {
  position: relative;
}
.anim-icon i {
  position: absolute;
}
.anim-icon .bx-tada {
  opacity: 0;
}
.anim-icon:hover i {
  opacity: 0;
}
.anim-icon:hover .bx-tada {
  opacity: 1;
}

.svg-fill {
  fill: rgba(var(--vs-text), 1);
}

.not-margin {
  margin: 0px;
  font-weight: normal;
  padding: 10px;
}

.mb {
  margin-bottom: 1rem;
}

.my {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

i.bx.bx-pin, i.bx.bxs-pin, i.bx.bxs-user-x {
  color: rgba(var(--vs-red), 1);
}

i.bx.bx-user-check, i.bx.bx-user-plus, i.bx.bxs-user-plus {
  color: rgba(var(--vs-green), 1);
}

i.bx.bx-navigation, i.bx.bxs-navigation {
  color: rgba(var(--vs-blue), 1);
}

i.bx.bx-folder-open, i.bx.bxs-folder-open {
  color: rgba(var(--vs-lowlight), 1);
}

i.bx.bx-edit, i.bx.bxs-edit {
  color: rgba(var(--vs-lowlight), 1);
}

.row {
  display: flex;
  flex-direction: row;
}

.prompt .header {
  margin: 0.5rem 0;
}
.prompt .body {
  margin: 1rem 0;
}
.prompt .section {
  margin: 2rem 0;
}
.prompt .section .header {
  margin: 1rem 0;
}
.prompt .footer {
  margin: 0.5rem 0;
  justify-content: space-between;
}
.prompt .button {
  margin: 1rem 0;
}
.prompt .field {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container {
  max-width: 407px;
  margin-left: auto;
  margin-right: auto;
}

/* body.no-selection {
    background-color: $bg;
} */
.post {
  margin-bottom: 2rem;
}
.post.create {
  margin-bottom: 0;
}
.post.create .url:hover {
  border: 1px rgba(var(--vs-lowerlight), 1) solid;
}
.post.create .walls {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.post.create .walls .title {
  font-size: 0.9rem;
}
.post .profile {
  display: flex;
}
.post .profile .info .names {
  display: flex;
}
.post .profile h4 {
  font-weight: 500;
  margin-left: 0.5rem;
}
.post .profile p {
  color: rgba(var(--vs-lowlight), 1);
  margin-left: 0.5rem;
}
.post .message,
.post .field {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0.75rem 2px;
  word-break: break-word;
}
.post .message .edit,
.post .field .edit {
  cursor: pointer;
}
.post .menu {
  width: 100% !important;
  height: 4rem !important;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.post .menu .button {
  transition: all 0.25s ease;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1;
  min-height: 100%;
}
.post .menu i.bx {
  font-size: 2rem;
}
.post .url {
  margin: 0.5rem 0;
  position: relative;
  border: 1px rgba(var(--vs-lowerlight), 1) solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.post .url .linkBubble {
  min-width: 70%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  display: flex;
  pointer-events: none;
  max-width: 100%;
  font-size: 1rem;
  background-color: rgba(var(--vs-lowerbg), 1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px rgba(var(--vs-lowlight), 1) solid;
  border-radius: 5px;
  padding: 0.5rem;
}
.post .url .linkBubble i {
  font-size: 1rem;
  padding-top: 4px;
  margin-right: 0.5rem;
}
.post .url .linkBubble p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post .url .linkMenu {
  position: absolute;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  background-color: rgba(var(--vs-bg), 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}
.post .url .linkMenu .button {
  transition: all 0.25s ease;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1;
  min-height: 100%;
}
.post .url .linkMenu i.bx {
  font-size: 2rem;
}
.post .url .link {
  margin: 0.75rem;
}
.post .url .link .bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post .url .link .descBar p {
  color: rgba(var(--vs-lowlight), 1);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post .url .link .titleBar {
  margin-bottom: 0.25rem;
}
.post .url .link .titleBar p {
  margin: 0 0.5rem;
  color: rgba(var(--vs-text), 1);
  overflow: hidden;
  white-space: nowrap;
}
.post .url:hover > .linkMenu,
.post .url:focus-within > .linkMenu,
.post .url .linkMenu:hover,
.post .url .linkMenu:focus {
  visibility: visible;
  opacity: 1;
}
.post .url:hover {
  border: 1px transparent solid;
}
.post .url:hover > .linkBubble,
.post .url:focus-within > .linkBubble,
.post .url .linkBubble:hover,
.post .url .linkBubble:focus {
  visibility: visible;
  opacity: 1;
}
.post .url:hover {
  border: 1px transparent solid;
}

.navbar {
  position: relative;
  max-width: 408px;
  border-bottom: 1px solid rgba(var(--vs-higherbg), 1);
  background-color: rgba(var(--vs-bg), 1);
}
.navbar .actions {
  height: 8vh;
  display: flex;
}
.navbar .actions .button, .navbar .actions .icon {
  color: rgba(var(--vs-text), 1);
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.navbar .actions .button:hover {
  color: rgba(var(--vs-text), 1);
  background-color: rgba(var(--vs-higherbg), 1);
}
.navbar .actions .icon {
  width: 20%;
}
.navbar .menu {
  position: absolute;
  display: block;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.25s ease;
}
.navbar .menu .navbar-items {
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}
.navbar .menu.guest {
  opacity: 1;
  visibility: visible;
}

.navbar:hover > .menu,
.navbar:focus-within > .menu,
.navbar .menu:hover,
.navbar .menu:focus {
  visibility: visible;
  opacity: 1;
}

.vs-input {
  width: 100%;
}

.vs-avatar__group {
  justify-content: flex-start;
}

.menu:hover > .navbar-items,
.menu:focus-within > .navbar-items,
.menu .navbar-items:hover,
.menu .navbar-items:focus {
  visibility: visible;
  opacity: 1;
}

.comb-toggle-props {
  left: 50%;
  transform: translate(-50%, 0);
  height: 11vmin;
}

.comb-container {
  width: 25vmin;
  position: absolute;
  pointer-events: none;
}

.comb-container-1 {
  left: 50%;
  transform: translate(-129%, 2%);
}

.comb-container-2 {
  left: 50%;
  transform: translate(-50%, 53%);
}

.comb-container-3 {
  left: 50%;
  transform: translate(29%, 2%);
}

.comb {
  fill: rgba(var(--vs-higherbg), 1);
  pointer-events: visible;
  cursor: pointer;
}
.comb:hover {
  fill: rgba(var(--vs-lowestbg), 1);
}

.navbar-bg {
  position: absolute;
  transform: translate(-50%, 0%);
  pointer-events: visible;
  width: 52.5vmin;
  height: 22.5vmin;
}

.comb-icon {
  position: absolute;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: rgba(var(--vs-text), 1);
}

.comb-toggle-icon {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: rgba(var(--vs-text), 1);
}

.dark-mode .comb {
  fill: rgba(var(--vs-higherbg), 1);
}
.dark-mode .comb:hover {
  fill: rgba(var(--vs-lowestbg), 1);
}
.dark-mode .comb-icon,
.dark-mode .comb-toggle-icon {
  stroke: rgba(var(--vs-text), 1);
}
.dark-mode .navbar {
  background-color: rgba(var(--vs-bg), 1);
  color: rgba(var(--vs-text), 1);
}
.dark-mode .navbar .actions .button {
  color: rgba(var(--vs-text), 1);
}
.dark-mode .navbar .actions .button:hover {
  background-color: rgba(var(--vs-higherbg), 1);
}

@media (min-width: 425px) {
  .comb-toggle-props {
    height: 7vmin;
  }

  .comb-container {
    width: 16vmin;
  }

  .navbar-bg {
    width: 33.6vmin;
    height: 14.4vmin;
  }
}
.tinyButton {
  font-size: 0.7em;
  background-color: rgba(var(--vs-lowestbg), 1);
  color: rgba(var(--vs-text), 1);
  border-radius: 2px;
  padding: 1px 4px 2px 2px;
  cursor: pointer;
}

.icon-button {
  transition: all 0.25s ease;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1;
  min-height: 100%;
  font-size: 2rem;
}
.icon-button .icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.component.profile {
  display: flex;
}
.component.profile .info .names {
  display: flex;
}
.component.profile h4 {
  font-weight: 500;
  margin-left: 0.5rem;
}
.component.profile p {
  color: rgba(var(--vs-lowlight), 1);
  margin-left: 0.5rem;
}
.component.userSearch {
  position: relative;
  margin-bottom: 1rem;
}
.component.userSearch .results {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  background-color: rgba(var(--vs-lowerbg), 1);
  width: 100%;
  padding: 0 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  box-shadow: 0px 8px 19px 0px rgba(0, 0, 0, 0.75);
}
.component.userSearch .result {
  margin: 1rem 0;
}
.component.userSearch:hover > .results, .component.userSearch:focus-within > .results, .component.userSearch:active > .results .results:hover,
.component.userSearch .results:focus,
.component.userSearch .result:active {
  visibility: visible;
  opacity: 1;
}

.list {
  margin: 2rem 0;
}
.list .header {
  display: flex;
  margin: 0rem 1rem;
  align-items: center;
  justify-content: space-between;
}
.list .header h3 {
  margin: 0.75rem 0;
  font-weight: 100;
}
.list .header .button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgba(var(--vs-text), 1);
}
.list .bubbleButton {
  display: flex;
  align-items: center;
  background-color: rgba(var(--vs-lowerbg), 1);
  border-radius: 0.5rem;
  border-color: rgba(var(--vs-text), 1);
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.25rem 0;
  color: rgba(var(--vs-text), 1);
}
.list .bubbleButton .icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.checklist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checklist .vs-checkbox-label {
  font-size: 1rem;
}
.checklist .secondary {
  color: #666;
}

.introduction .paragraph {
  margin: 1rem 0;
}
.introduction .paragraph .highlighted {
  color: rgba(var(--vs-highlight), 1);
}

.search .results {
  margin-bottom: 2rem;
}
.search .results .result {
  margin: 0.5rem 0;
}

.youtube-video {
  width: 100%;
  min-height: 15rem;
}

.register, .login, .recoverPassword {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register .logo, .login .logo, .recoverPassword .logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.register h3, .login h3, .recoverPassword h3 {
  font-weight: 100;
  margin-bottom: 2rem 0;
}
.register .form, .login .form, .recoverPassword .form {
  margin: 1.75rem 0;
}
.register .form .field, .login .form .field, .recoverPassword .form .field {
  margin: 1.5rem 0;
}
.register .form .checkboxes, .login .form .checkboxes, .recoverPassword .form .checkboxes {
  margin: -0.75rem 0;
}
.register .form .checkboxes .checkbox, .login .form .checkboxes .checkbox, .recoverPassword .form .checkboxes .checkbox {
  display: flex;
  align-items: center;
}
.register .form .checkboxes .checkbox #hCaptcha, .login .form .checkboxes .checkbox #hCaptcha, .recoverPassword .form .checkboxes .checkbox #hCaptcha {
  pointer-events: none;
}
.register .button, .login .button, .recoverPassword .button {
  margin: 1rem 0;
}

.login {
  padding-bottom: 10vh;
}

.tos .paragraph {
  margin: 1rem 0;
}/*# sourceMappingURL=core2.css.map */